body {
  margin: 0;
  font-family: 'Azeret Mono', monospace;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

button {
  background-color: #906;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Azeret Mono', monospace;
  font-weight: 800;
  font-size: 16px;
}

button:hover {
  background-color: black;
}